{% load static %}
<footer>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <div class="footer">
        <div class="image-row">
            <img src="{% static 'img/fb-icon.png' %}">
            <img src="{% static 'img/instagram-icon.png' %}">
            <img src="{% static 'img/linkedin-icon.png' %}">
            <img src="{% static 'img/twitter-icon.png' %}">
            <img src="{% static 'img/youtube-icon.png' %}">
        </div>
        <div class="frow">
            <a href="#">Contact us</a>
            <a href="#">Our Services</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Career</a>
        </div>
        <div class="frow">
            ©2021 MD Polyclinic | All Rights Reserved
        </div>
    </div>
</footer>